DATABASE_URL=sqlite:///../database/brain_tumor.db
JWT_SECRET=change_me_to_something_very_secret_and_long_neuroscan_9821
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
AI_MODE=demo
CLASSIFIER_MODEL_PATH=../models/brain_tumor_classifier.pth
SEGMENTATION_MODEL_PATH=../models/brain_tumor_unet.pth
CORS_ORIGINS=http://localhost:5173,http://localhost:8000
